@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
img{
    width: 100%;
    vertical-align: top;
}
a{
    font-size: 0.8rem;
}
.presentacion{
    margin-top:10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.usuario{
    display:flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 4px;
    border: 1px dotted black;
    box-sizing:border-box;
    width: 49.5%;
}

.foto{
    border:1px solid gray;
    border-radius:5px;
    overflow: hidden;
    margin-right:20px;
    width:170 px;
}

.datos{
    flex:1;
}

.botones{
    width:110px;
}

button{
    padding: 6px 12px;
    outline: none;
    border-radius:3px;
    width:98px;
    margin: 4px;
    cursor:pointer;
}

.negro{
    background-color: black;
    border: 1px solid black;
    color: white;
}

.violeta{
    background-color: purple;
    border: 1px solid purple;
    color: white;
}

.negro:hover{
    color: black;
    background-color: white;
}

.violeta:hover{
    color: purple;
    background-color: white;
}